name: actinia tests

on:
  push:
    branches: [ main ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]

jobs:

  integration-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Start containers
      run: docker-compose -f "docker/docker-compose-test.yml" up -d --build

    - name: List running docker
      run: docker ps

    - name: Run integration test
      run: docker exec -t docker_actinia-test_1 sh /usr/bin/run_integration_tests.sh

    - name: Stop containers
      run: docker-compose -f "docker/docker-compose-test.yml" down

  unittests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      # with:
      #   path: "."
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Replace run only unittest command
      run: |
        sed -i "s+# RUN make test+RUN make unittest+g" docker/actinia-parallel-plugin-test/Dockerfile
    - name: Unittests of actinia-parallel-plugin
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        push: false
        tags: actinia-parallel-plugin-tests:alpine
        context: .
        file: docker/actinia-parallel-plugin-test/Dockerfile
        no-cache: true
        # pull: true
